<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>checky</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Red+Hat+Display&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Red+Hat+Mono&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Red+Hat+Text&amp;display=swap">
    <link rel="stylesheet" href="../assets/css/Card-1.css">
    <link rel="stylesheet" href="../assets/css/Card.css">
    <link rel="stylesheet" href="../assets/css/dh-card-image-left-dark.css">
    <link rel="stylesheet" href="../assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="../assets/css/Google-Style-Login.css">
    <link rel="stylesheet" href="../assets/css/Profile-Card.css">
    <link rel="stylesheet" href="../assets/css/responsive-navbar.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md py-3" style="background: #3F7D20;color: #FFFFFF;">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="{{ url_for('clases') }}"><span style="color: #FFFFFF;font-family: 'Red Hat Display', sans-serif;">Checky</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1" style="border-color: #FFFF;"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link active" href="{{ url_for('perfil') }}" style="color: #FFFFFF;font-family: 'Red Hat Text', sans-serif;">Perfil</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('notificaciones') }}" style="color: #FFFFFF;font-family: 'Red Hat Text', sans-serif;">Notificaciones</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('reportar') }}" style="color: #FFFFFF;font-family: 'Red Hat Text', sans-serif;">Reportar un problema</a></li>
                </ul><a class="btn btn-outline-light" role="button" href="{{ url_for('logout') }}" style="border-radius: 50px;">Cerrar sesión</a>
            </div>
        </div>
    </nav>
    <div style="padding: 2%;">
        <h1 style="color: #3F7D20;text-align: center;font-family: 'Red Hat Display', sans-serif;">Pregunta</h1>
        <section>
            <div class="container">
                <div class="photo-card" style="background: #3F7D20;">
                    <div class="photo-background" style="background: url(&quot;../assets/img/undraw_questions_re_1fy7%20(1).svg&quot;);background-size: contain;"></div>
                    <div class="photo-details">
                        <h1 style="font-family: 'Red Hat Display', sans-serif;">Pregunta</h1>
                        <div>
                            <form class="d-lg-flex align-items-lg-center" action="responder" style="margin-bottom: 2%;">
                                <p style="margin-bottom: 0;width: 80%;font-family: 'Red Hat Text', sans-serif;">Respuesta</p><input class="form-control" type="hidden"><button class="btn btn-outline-light" type="submit" style="border-radius: 50px;font-family: 'Red Hat Text', sans-serif;">Elegir</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="photo-card" style="background: #3F7D20;">
                    <div class="photo-background" style="background: url(&quot;../assets/img/undraw_questions_re_1fy7%20(1).svg&quot;);background-size: contain;"></div>
                    <div class="photo-details">
                        <h1 style="font-family: 'Red Hat Display', sans-serif;">Pregunta</h1>
                        <div>
                            <p style="margin-bottom: 0;width: 80%;font-family: 'Red Hat Text', sans-serif;">Respuesta elegida:</p>
                            <h1 class="text-center" style="font-family: 'Red Hat Text', sans-serif;">Respuesta</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>